//variables import
@import "variables";

//article container
.node--type-article, .node--view-mode-full {
  //to position some elements on top
  position: relative;
  //padding to keep elements in center
  padding: 0 20px;

  //stylizing tags
  .field--name-field-tags {
    //positioning tags on top
    position: absolute;
    //stylizing
    padding: 0;
    top: -60vh;
    color: $white;
    font-size: 11px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    //bos with items
    .field--tags__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
    }
    //one item
    .field--tags__item {
      padding: 7px 12px;
      margin: 0 12px 0 0;
      width: fit-content;
      &:nth-child(1) {
        background-color: $black;
      }
      &:nth-child(2) {
        background-color: $red;
      }
      &:nth-child(3) {
        background-color: $orange;

      }
      &:nth-child(4) {
        background-color: $green;
      }
      &:nth-child(5) {
        background-color: $blue;
      }
    }
  }

  //stylizing header
  .field--name-field-header {
    //positioning header on top
    position: absolute;
    top: -48vh;
    //stylizing
    font-size: 30px;
    line-height: 1.2;
    font-weight: 800;
    text-align: left;
  }
  //stylizing images
  .field--name-field-media-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  //container with author info
  .author-container {
    //border
    border-top: solid $light-gray 1px;
    border-bottom: solid $light-gray 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 85%;

    display: flex;
    //positioning it on top
    position: absolute;
    top: -14vh;
    align-items: center;

    //picture
    .field--name-user-picture {
      margin: 0 8px 0 0;
    }
    //name and picture container
    .author-container-inner {
      display: flex;
      align-items: center;
      border-right: solid $light-gray 1px;
      padding-right: 10px;
    }
    //name
    .node__author-name {
      color: $black;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 3px;
    }
    //date
    .node__author-date-published {
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      padding-left: 10px;
      letter-spacing: 1px;
    }
  }
  //content inside article
  .layout--content-narrow {
    margin: 64vh 0 0 0;

    //regular paragraph selector
    p {
      display: block;
      font-size: 13px;
      line-height: 1.6;
      font-weight: 300;
      margin:0 0 26px 0;
    }
    //highlighted paragraph selector
    strong {
      display: block;
      font-weight: 700;
      margin:0 0 26px 0;
    }
    //block quote styles
    em {
      display: inline-block;
      font-style: italic;
      text-align: center;
      margin: 20px 3% 18px;
      font-weight: 500;
      color: $black;
      font-size: 22px;
      line-height: 30px;
    }
  }
  //disabling global theming margin
  .field:not(:last-child) {
    margin-bottom: 0;
  }
  //hiding exess taxonomy term from paragraph
  .paragraph--type--taxonomy {
    display: none;
  }

  //next and previous article box styling
  .layout--twocol-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    //previous
    .layout__region--first {
    }
    //next
    .layout__region--second{
      width: 30%;
    }
    .layout__region--first,.layout__region--second{
      font-size: 13px;
      line-height: 1.3;
      font-weight: 600;
      color: $black;
      //view name styling
      .block__title {
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
  .block-views-blockstay-connected--stay-connected {
    //container styles
    max-width: 100%;
    padding-bottom: 20px;
    //view tittle and container border top styling
    @include stylizing-view-name(#222,#FFFFFF);

    //items inside view item
    .views-row {
      display: flex;
      margin-bottom: 0.4rem;
    }
    //styling a items
    .views-field-nothing {
      padding-left: 1rem;
      align-self: center;
      width: 100%;
      font-weight: 600;
      font-size: 14px;

      //container inside
      .stay-connected-sidebar-links {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  //make it moder sidebar
  .block-views-blockmake-it-modern-make-it-modern {
    //container styles
    max-width: 100%;

    //view tittle and container border top styling
    @include stylizing-view-name(#000,#FFFFFF);

    //image and taxonomy term styles
    @include stylizing-image-and-taxonomy-term ();

    //pager styles
    @include custom-gray-pager-for-view ();

    //image restyle
    .view-content img {
      height: auto;
      width: 100%;
      aspect-ratio: 220/147;
    }
    .views-field-title {
      font-family: roboto,sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
    }
    //item width
    .views-view-grid__item {
      max-width: 47%;
    }
    //space between items
    .views-view-grid--horizontal {
      justify-content: space-between;
    }
    //taxonomy term
    .views-field-term-node-tid {
      margin-bottom: 0.5em;
    }
    //desktop version styling
    #block-slavnews-views-block-make-it-modern-make-it-modern {
      .views-field-title {
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}
//here


//RELATED ARTICLES
.block-views-blockrelated-articles--related-articles-view {
  //view tittle and container border top styling

  font-family: open sans,open sans regular,sans-serif;

  @include stylizing-view-name($black,$white);

  //tittle
  .views-field-title {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    padding: 15px 15px 0 15px;
  }
  //date
  .views-field-created {
    color: $gray;
    font-size: 14px;
    padding: 15px 15px 0 15px;
  }
  //pager
  @include custom-gray-pager-for-view ();

  img {
    aspect-ratio: 148/88;
  }

  //item selector
  .views-row {
    border-bottom: solid $light-gray 1px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-right: 15px;
  }

}
//comment styling
.block-field-blocknodearticlecomment {
  @include stylizing-view-name($black,$white);

  .pager {
    display: none;
  }
}
//desktop version
@include bp-up("md") {
  .block-views-blockrelated-articles--related-articles-view {
    //item container
    .view-content {
      display: flex;
    }
  }
}

@include bp-up("lg") {
  //positioning taxonomy terms
  .node--type-article .field--name-field-tags, .node--view-mode-full .field--name-field-tags {
    top: -7%;
  }
  //positioning header
  .text-content.clearfix.field.field--name-field-header.field--type-text.field--label-hidden.field__item {
    top: -6%;
  }
  //positioning author field
  .node--type-article .author-container, .node--view-mode-full .author-container {
    top: -3%;
  }
  //positioning page
  .node--type-article .layout--content-narrow, .node--view-mode-full .layout--content-narrow {
    margin: 25% 0 0 0;
  }
}


//user selected image to the left of to the right

