// @TODO make color variables instead of static hashtag values
$black : #222;
$white : #fff;
$gray : #767676;
$purple : #8954c1;
$red : #cf2e2e;
$orange : #ff6900;
$light-green : #7bdcb5;
$blue : #0693e3;
$green : #00d084;
$light-blue : #8ed1fc;
$light-gray : #eaeaea;
