//header
@media (min-width: 1201px) {
  //#block-whitewebsitebranding{
  //  display: none;
  //}
}
@media (max-width: 1420px) {
  #block-slavnews-views-block-top-header-menu-header-top-bar {
    width: 80%;
  }
}
@media (max-width: 1199px) {
  #block-slavnews-mainpagemenu{
    display: none;
  }
  #block-slavnews-views-block-social-media-list-social-media-list,#block-slavnews-views-block-top-header-menu-header-top-bar,#block-slavnews-views-block-purple-view-wide-blog-offer{
    display: none;
  }
  .my_burger_menu,.responsive_logo{
    display: block;
    align-self: center;
  }
  .header_menu_list{
    .block-search-wide__button{
      display: none;
    }
  }
  .block-search-wide__button{
    align-self: center;
    color: #ffffff;
  }
  .top_middle_bar_container{
    #block-slavnews-site-branding{
      display: none;
    }
  }
  #block-slavnews-mainpagemenu{
    .menu--level-1 {
      display: flex;
      flex-direction: column;
      position: absolute;
    }
  }
  .responsive_logo{
    display: flex;
  }
  .top_header_bar_container{
    justify-content: center;
  }
  #block-whitewebsitebrandin{
    display: block;
    justify-content: center;
  }
  .field--name-field-white-website-branding-fie{
    img{
      margin: 0 auto;
    }
  }
}

@media (max-width: 1000px) {
  //footer
  #block-slavnews-views-block-editor-picks-editor-picks{
  }
}
@media (min-width: 500px) {
  #block-slavnews-views-block-popular-posts-popular-posts .views-row .views-field-created {
    margin: auto;
  }
  .view-display-id-popular_posts{
    .views-field-created{
      margin: auto;
    }
  }
  #block-slavnews-views-block-editor-picks-editor-picks,#block-slavnews-views-block-popular-category-popular-category, #block-slavnews-views-block-popular-posts-popular-posts{
    .views-row{
      .views-field-created{
        margin: 0;
        padding:0 0 3% 0;
      }
    }
  }
  .region--footer_top__inner{
    display: flex;
    flex-direction: column;
  }
  div{
    #block-slavnews-views-block-editor-picks-editor-picks,#block-slavnews-views-block-popular-posts-popular-posts,#block-block-popular-category-taxonomy-view-popular-category-taxonomy,#block-slavnews-views-block-about-us-about-us,#block-slavnews-views-block-follow-us-follow-us{
      max-width: 61%;
      margin: 0 auto;
    }
  }
}
@media (min-width: 800px) {
  .region--footer_top__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #block-whitewebsitebranding-2 {
    align-self: center;
    .block__content .field--name-field-white-website-branding-fie{
      width: 100%;
      margin: 0;
    }
  }
  #block-slavnews-views-block-follow-us-follow-us{
    .view-content{
      max-width: none;
    }
    .block__title {
      max-width: none;
      justify-content: center;
    }
  }
  #block-slavnews-views-block-about-us-about-us{
    padding: 0 6px 0 0;
    .block__title{
      max-width: none;
    }
  }
  //top news
  #block-views-block-desktop-version-of-top-news-main-block,#block-views-block-desktop-version-of-top-news-wide-block,#block-views-block-desktop-version-of-top-news-two-small-blocks {
    display: block;
  }
  #block-views-block-mobile-version-of-top-news-main-block,#block-views-block-mobile-version-of-top-news-tree-block-slider {
    display: none;
  }
}
@media (min-width: 1000px) {
  #block-slavnews-views-block-editor-picks-editor-picks,#block-slavnews-views-block-popular-posts-popular-posts,#block-block-popular-category-taxonomy-view-popular-category-taxonomy{
    padding: 0 3% 0 0;
    .views-field-title{
      a{
        color: #FFFFFF;
      }
      .views-field-created{
        a{
          color: #767676;
        }
      }
    }
  }
  //trending now slider pager
  #block-slavnews-views-block-trending-now-slider-trending-now-slider{
    flex-direction: row;
    margin: 0 auto 10px auto;
    padding-top: 10px;
    width: 46rem;
  }
  .block-views-blocktrending-now-slider-trending-now-slider{
    .block__title{
      margin-top: 0;
    }
    .pager{
      display: block;
      margin-bottom: auto;
    }
    .view-display-id-trending_now_slider {
      justify-content: space-between;
    }
  }

}
//1200px
@media(min-width: 75rem){
  .my_footer{
    .container{
      max-width: none;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
  #block-slavnews-views-block-follow-us-follow-us {
    padding: 0;
    .view-content {
      max-width: 50%;
    }
    .block__title {
      text-align: center;
    }
  }
  #block-whitewebsitebranding{
    display: none;
  }
  //top news
  //wrapper outside
  .desktop-top-news-wrapper-outside{
    width: 100%;
  }
  //wrapper inside
  .desktop-top-news-wrapper-inside {
    max-width: 70%;
    margin: 0 auto;
    padding: unset;
  }
}

