@import "breakpoints";
//1200px
@media(min-width: 75rem){
  //header
  .top_middle_bar_container {
    margin-top: 10px;
  }
  //trending now slider
  #block-slavnews-views-block-trending-now-slider-trending-now-slider{
    flex-direction: row;
    margin: 0 auto 10px auto;
    padding-top: 10px;
    width: 90%;
    justify-content: space-between;
    .views-field-title{
      padding: 0 18rem 0 0;
    }
  }
  .trending-now-slider-container{
    width: 100%;
  }
  .block-views-blocktrending-now-slider-trending-now-slider{
    .block__title{
      margin-top: 0;
      margin-left: 1rem;
    }
  }
  //trending now pager
  .block-views-blocktrending-now-slider-trending-now-slider{
    .pager{
      display: block;
    }
  }
  //footer
  .my_footer{
    .container{
      max-width: none;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
  #block-slavnews-views-block-follow-us-follow-us {
    padding: 0;
    .view-content {
      max-width: 50%;
    }
    .block__title {
      text-align: center;
    }
  }
  #block-whitewebsitebranding{
    display: none;
  }
  //top news
  //wrapper outside
  .desktop-top-news-wrapper-outside{
    width: 100%;
  }
  //wrapper inside
  .desktop-top-news-wrapper-inside {
    max-width: 90%;
    margin: 0 auto 0 auto;
    padding: unset;
  }
  //top news

  //desktop big image
  #block-views-block-desktop-version-of-top-news-main-block{
    .views-field-term-node-tid {
      bottom: 8.5em;
      left: 1.7em;
    }
    .views-field-title{
      padding-right: 5em;
      bottom: 3em;
      span{
        font-size: 1.7em;
      }
    }
    .views-field-nothing{
      span.field-content {
        font-size: unset;
      }
    }
  }
  //desktop wide image
  #block-views-block-desktop-version-of-top-news-wide-block {
    .views-field-term-node-tid {
      bottom: 7.5em;
      left: 1.7em;
    }
    .views-field-title{
      padding-right: 5em;
      bottom: 3.8em;
      font-weight: 600;
      left: 1.7em;
      span{
        font-size: 1.5em;
      }
    }
    .views-field-nothing{
      span {
        font-size: 1.1em;
      }
    }
  }
  //desktop two wide blocks
  #block-views-block-desktop-version-of-top-news-two-small-blocks {
    .top-news-my-view-first-small-image,
    .top-news-my-view-last-small-image {
      .views-field-term-node-tid {
        bottom: 5em;
        left: 1.7em;
      }
      .views-field-title{
        padding-right: 2em;
        bottom: 1.6em;
        font-weight: 700;
        left: 1.7em;
        span{
          font-size: 1.5em;
        }
      }

      .views-field-nothing{
        span {
          font-size: 1.1em;
        }
      }
    }
  }
}
//letting menu disappear under 1200 px to be called out by burger menu
@include bp-down('xl') {
  .menu--main-page-menu{
    position: absolute;
    left: -100%;
  }
}
//header
@media (max-width: 1199px) {
  //header black logo
  .site-branding__logo{
    display: none;
  }
  //trending now slider
  #block-slavnews-views-block-trending-now-slider-trending-now-slider{
    flex-direction: column;
    .block__title{
      width: fit-content;
      margin: 10px auto;
    }
  }
  //trending now slider pager
  #block-slavnews-views-block-trending-now-slider-trending-now-slider{
    margin: auto auto 10px auto;
    padding-top: 10px;
  }
  .block-views-blocktrending-now-slider-trending-now-slider{
    .pager{
      display: none;
      margin-bottom: auto;
    }
    .view-display-id-trending_now_slider {
      justify-content: center;
    }
  }
  #block-slavnews-views-block-social-media-list-social-media-list,#block-slavnews-views-block-top-header-menu-header-top-bar,#block-slavnews-views-block-purple-view-wide-blog-offer{
    display: none;
  }
  .top_header_bar_container{
    .responsive_logo{
      width: 100%;
      justify-content: space-evenly;
    }
  }
  .my_burger_menu,.responsive_logo{
    display: block;
    align-self: center;
  }
  .header_menu_list{
    .block-search-wide__button{
      display: none;
    }
  }
  .block-search-wide__button{
    align-self: center;
    color: #ffffff;
  }
  .top_middle_bar_container{
    #block-slavnews-site-branding{
      display: none;
    }
  }
  #block-slavnews-mainpagemenu{
    .menu--level-1 {
      display: flex;
      flex-direction: column;
      position: absolute;
    }
  }
  .responsive_logo{
    display: flex;
  }
  .top_header_bar_container{
    justify-content: center;
  }
  #block-whitewebsitebrandin{
    display: block;
    justify-content: center;
  }
  .field--name-field-white-website-branding-fie {
    img {
      margin: 2em auto;
      height: auto;
      width: 100%;
    }
  }
}
@media (min-width: 1000px) {
  //footer
  .region--footer_top__inner{
    justify-content: space-between;
  }
  .region--footer_bottom__inner{
    width: unset;
  }
  .region--footer_top__inner,
  .region--footer_bottom__inner {
    display: flex;
    flex-direction: row;
    padding: 3% 9%;
  }
  #block-slavnews-views-block-follow-us-follow-us{
    .view-content{
      max-width: none;
    }
    .block__title {
      max-width: none;
      justify-content: center;
      display: flex;
    }
  }
  #block-slavnews-views-block-about-us-about-us{
    .block__title{
      max-width: none;
    }
  }
  #block-slavnews-views-block-editor-picks-editor-picks,#block-slavnews-views-block-popular-posts-popular-posts,#block-block-popular-category-taxonomy-view-popular-category-taxonomy{
    .views-field-title{
      a{
        color: #FFFFFF;
      }
    }
    .views-row{
      margin: 0 0 1.5em 0;
      .views-field-created{
        width: 85%;
        justify-content: space-around;
        display: flex;
      }
    }
  }
  #block-slavnews-views-block-editor-picks-editor-picks,
  #block-slavnews-views-block-popular-posts-popular-posts{
    width: 35%;
  }
  #block-block-popular-category-taxonomy-view-popular-category-taxonomy{
    width: 30%;
  }
  #block-slavnews-views-block-popular-posts-popular-posts {
    .views-field-title {
      font-size: 17px;
    }
  }
  .region--footer_bottom__inner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    #block-whitewebsitebranding-2 {
      width: 25%;
      padding: 0 3%;
    }

    #block-slavnews-views-block-about-us-about-us{
      width: 40%;
    }
    #block-slavnews-views-block-follow-us-follow-us {
      width: 30%;
      .view-content{
        justify-content: left;
        width: 100%;
        .views-row{
          margin: 0 0.5em 0 0;
        }
      }
    }
  }
  #block-slavnews-views-block-about-us-about-us,
  #block-slavnews-views-block-follow-us-follow-us {
    .block__title {
      text-align: left;
      display: block;
      margin-bottom: 2em;
    }
  }
}
@media (max-width: 800px) {
  //header logo
  #block-slavnews-views-block-popular-posts-popular-posts .views-row .views-field-created {
    margin: auto;
  }
  .view-display-id-popular_posts{
    .views-field-created{
      margin: auto;
    }
  }
  #block-slavnews-views-block-editor-picks-editor-picks,#block-slavnews-views-block-popular-category-popular-category, #block-slavnews-views-block-popular-posts-popular-posts{
    .views-row{
      .views-field-created{
        margin: 0;
        padding:0 0 3% 0;
      }
    }
  }
  .region--footer_top__inner{
    display: flex;
    flex-direction: column;
  }
  #block-whitewebsitebranding-2 {
    align-self: center;
    .block__content {
      .field--name-field-white-website-branding-fie{
        display: flex;
        margin: 60px auto 40px auto;
      }
    }
  }
  @media (min-width: 800px) {
  }
  //top news
  #block-views-block-desktop-version-of-top-news-main-block,#block-views-block-desktop-version-of-top-news-wide-block,#block-views-block-desktop-version-of-top-news-two-small-blocks {
    display: none;
  }
  #block-views-block-mobile-version-of-top-news-main-block,#block-views-block-mobile-version-of-top-news-tree-block-slider {
    display: block;
  }
  //footer
  .region--footer_top__inner {
    padding: 40px 0;
    .views-row{
      .views-field-title{
        width: 65%;
      }
      .views-field-created{
        .field-content{
          display: block;
          width: 67%;
          margin: 0 0 0 auto;
        }
      }
    }
  }
  #block-slavnews-views-block-editor-picks-editor-picks,#block-slavnews-views-block-popular-posts-popular-posts,#block-block-popular-category-taxonomy-view-popular-category-taxonomy,#block-slavnews-views-block-about-us-about-us,#block-slavnews-views-block-follow-us-follow-us{
    max-width: unset;
  }
  #block-slavnews-views-block-editor-picks-editor-picks,#block-slavnews-views-block-popular-posts-popular-posts,#block-block-popular-category-taxonomy-view-popular-category-taxonomy,.region--footer_bottom__inner {
    padding: 0 3% 0 3%;
  }
  .region--footer_bottom__inner{
    max-width: fit-content;
  }
}
//max is before
//min is after
