//top news
#block-views-block-desktop-version-of-top-news-main-block,#block-views-block-desktop-version-of-top-news-wide-block,#block-views-block-desktop-version-of-top-news-two-small-blocks {
  display: none;
}
#block-views-block-mobile-version-of-top-news-main-block,#block-views-block-mobile-version-of-top-news-tree-block-slider {
  display: block;
}
//mobile theming
#block-views-block-mobile-version-of-top-news-main-block,#block-views-block-mobile-version-of-top-news-tree-block-slider{
  .views-field-term-node-tid {
    font-family: 'Roboto Flex', sans-serif;
    overflow: hidden;
    max-width: 22%;
    max-height: 1.5rem;
    color: #ffffff;
    background: black;
    display: inline-block;
    font-weight: 500;
    letter-spacing: -1px;
    :hover{
      background: #00b0ff;
      display: block;
      color: #ffffff;
    }
  }
  .field-content {
    img{
      width: fit-content;
      :before{
        content: "";
        background: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0) 60%,rgba(0,0,0,0));
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
        z-index: 1;
      }
    }
  }
  .views-field-term-node-tid,.views-field-title,.views-field-nothing{
    position: absolute;
    color: #FFFFFF;
  }
  .views-field-term-node-tid{
    bottom: 5.7em;
    left: 1rem;
    a{
      display: flex;
      margin: 0 auto;
      font-size: 12px;
    }
  }
  .views-field-title{
    bottom: 1.4em;
    left: 1rem;
    padding-right: 6px;
    line-height: 21px;
  }
  a{
    font-weight: 700;
  }
  .views-field-nothing{
    font-weight: 400;
    bottom: 0.2em;
    left: 1rem;
    display: inline-block;
    color: #FFFFFF;
    .field-content{
      font-size: 11px;
      a{
        color: #FFFFFF;
        position: relative;
      }
    }
  }
  .views-view-grid__item-inner{
    padding: 0;
  }
}
//mobile top news big block
#block-views-block-mobile-version-of-top-news-main-block {
  margin-top: 8px;
}
//mobile three block slider
#block-views-block-mobile-version-of-top-news-tree-block-slider{
  .view-footer{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .view-content{
    width: 16rem;
    margin: 5px 5px auto auto;
    position: relative;
    img{
      width: 290px;
      height: 12rem;
    }
  }
  .views-field-term-node-tid {
    max-width: 23%;//here
    background: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    bottom: 6.5em;
  }
  .views-field-title{
    bottom: 2.6em;
    max-width: 14rem;
    line-height: 18px;
    a{
      font-weight: 600;
    }
  }
  .views-field-nothing{
    display: none;
  }
  .top-news-my-view-last-small-image{
    .views-field-term-node-tid{
      max-width: 38%;
      a{
        padding: 0 5px;
      }
    }
  }
  .top-news-my-view-first-small-image {
    .views-field-term-node-tid{
      max-width: 31%;
      a{
        padding: 0 3px;
      }
    }
  }
  .top-news-my-view-last-small-image,.top-news-my-view-first-small-image{
    .views-field-term-node-tid{
      bottom: 4.5em;
    }
    .views-field-title{
      bottom: 2em;
    }
  }
}
//desktop top news version
