.block-views-blocktrending-now-slider-trending-now-slider {
  .block__title{
    text-align: center;
    max-width: fit-content;
    padding: 5px;
    margin: 10px auto 0 auto;
    background:#000000;
    color: #EAEFEE;
    font-weight: 400;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: -0.4;
    :hover{
      background: #0c97ed;
    }
  }
  .views-field-title {
    text-align: center;
    color: black;
    font-weight: 400;
    font-family: 'Roboto Flex', sans-serif;

    overflow: hidden;
    max-width: 90%;
    max-height: 1.5rem;
    margin: 0 auto;
  }
  .pager{
    display: none;
  }
  .view-row{
    width: 100%;
  }
  .view-content{
    margin-bottom: 0;
  }
}
#block-slavnews-views-block-trending-now-slider-trending-now-slider{
  margin-bottom: 0;
//  height: 70px;
  display: flex;
  flex-direction: column;
}
