{#
/**
 * @file
 * Olivero's theme override to display the footer top region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div class="region--footer_top__inner">
{{ elements['slavnews_views_block__editor_picks_editor_picks'] }}
{{ elements['slavnews_views_block__popular_posts_popular_posts'] }}
{{ elements['block__popular_category_taxonomy_view_popular_category_taxonomy'] }}
</div>
